@model IEnumerable<ReportProduct>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Description</th>
            <th>Product Category name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.CategoryName</td>
            </tr>
      
        }
    </tbody>
</table>

